/* Font used in this website */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');

@font-face {
    font-family: "preeti-regular";
    src: url('/fonts/Preeti\ Normal.otf');
}

@font-face {
    font-family: "ananda-regular";
    src: url('/fonts/Ananda\ Akchyar.ttf');
}

@font-face {
    font-family: "ganess-regular";
    src: url('/fonts/Ganess\ Regular.otf');
}

@font-face {
    font-family: "yakthung-regular";
    src: url('/fonts/yakthung.ttf');
}

@font-face {
    font-family: "poppins-regular";
    src: url('/fonts/Poppins-Regular.ttf');
}

@font-face {
	font-family: 'Capriola-Regular';
	src: url('../fonts/Capriola-Regular.eot');
	src: local('☺'),  url('../fonts/Capriola-Regular.woff') format('woff'),  url('../fonts/Capriola-Regular.ttf') format('truetype'),  url('../fonts/Capriola-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: "germaniaOne";
    src: url('/fonts/GermaniaOne-Regular.ttf');
}
@font-face {
    font-family: "limbu";
    src: url('/fonts/Sanchabir\ Kurle\ Style.ttf');
}
@font-face {
    font-family: "aakar";
    src: url('/fonts/Aakar\ Regular.ttf');
}