/* Font used in this website */

@font-face {
    font-family: "preeti-regular";
    src: url('/accets/fonts/Preeti\ Normal.otf');
}

@font-face {
    font-family: "ananda-regular";
    src: url('/accets/fonts/Ananda\ Akchyar.ttf');
}

@font-face {
    font-family: "ganess-regular";
    src: url('/accets/fonts/Ganess\ Regular.otf');
}

@font-face {
    font-family: "yakthung-regular";
    src: url('/accets/fonts/yakthung.ttf');
}

@font-face {
    font-family: "poppins-regular";
    src: url('/accets/fonts/Poppins-Regular.ttf');
}

@font-face {
	font-family: 'Capriola-Regular';
	src: url('/accets/fonts/Capriola-Regular.eot');
}
@font-face {
    font-family: "germaniaOne";
    src: url('/accets/fonts/GermaniaOne-Regular.ttf');
}
@font-face {
    font-family: "limbu";
    src: url('/accets/fonts/Sanchabir\ Kurle\ Style.ttf');
}
@font-face {
    font-family: "aakar";
    src: url('/accets/fonts/Aakar\ Regular.ttf');
}
@font-face {
    font-family: "nato-devanagari";
    src: url("/accets/fonts/NotoSans_Devanagari.ttf");
}