/* This hover effect will only shows in laptop with minimum screen width of 1000px*/
@media only screen and (min-width:1000px) {
	.logo_n1:hover {
		filter: drop-shadow(0px 0px 5px rgb(9, 2, 51));
	}

	.logo_download:hover {
		background: #304b69;
		cursor: pointer;
	}

	#navigation .nav_item .nav_link:hover {
		color: #fff;
		height: 49px;
		border-radius: 1.3em;
	}

	#navigation .nav_item .nav_link:hover {
		background-color: rgba(61, 61, 62, 0.333);
	}

	#navigation .nav_item .nav_link:hover img {
		filter: drop-shadow(0px 0px 3px rgba(2, 10, 39, 0.708));
	}

	.nav_item:hover .nav_hide {
		opacity: 1 !important;
	}

	.calender_box:hover {
		border-top-right-radius: 1em;
	}

	.left_side_box:hover {
		background: rgba(48, 22, 140, 0.737);
		color: #fff;
		cursor: pointer;
	}

	.left_side_box:hover .left_side_opt_name,
	.right_side_box:hover .right_side_person_info span {
		color: #f2f2f2;
	}

	.left_side_foot .left_side_foot_options a:hover {
		color: #1b065b;
		font-weight: 600;
		cursor: pointer;
	}

	.flex,
	.left_side_foot .left_side_foot_options a:nth-child(4):hover .left_side_foot_more {
		display: flex !important;
	}

	.left_side_foot_more a:hover {
		background: #650d8275;
		cursor: pointer;
	}

	.left_side_foot_more a:first-child:hover {
		border-top-left-radius: .5em;
		border-top-right-radius: .5em;
	}

	.left_side_foot_more a:last-child:hover {
		border-bottom-left-radius: .5em;
		border-bottom-right-radius: .5em;
	}

	.scholarship_btn1:hover {
		background: #05495cea;
	}

	.scholarship_btn2:hover {
		background: #870b62;
	}

	.homepage_membership_button a:nth-child(1):hover {
		background: #09227ec5;
	}

	.homepage_membership_button a:nth-child(2):hover {
		background: #7e0961c5;
	}

	.homepage_membership_button a:nth-child(3):hover {
		background: #6a097ec5;
	}

	.homepage_membership_button a:nth-child(4):hover {
		background: #09097ec5;
	}

	.homepage_build_branch_button:hover {
		background: #042978c5;
	}

	.homepage_cencus_button:hover {
		background: #760478c5;
	}

	.right_side_box:hover {
		background: #6e168cbc;
		color: #fff;
		cursor: pointer;
	}

	.right_officials:hover .homepage_right_side_post {
		color: #f2f2f2;
	}

	.more_member_box,
	.more_member_box:hover {
		border-bottom-left-radius: 1em;
	}

	.footer_org_email:hover {
		color: #9b0404;
	}

	.footer_imp_link:hover {
		cursor: pointer;
		color: #51032e;
	}

	.footer_social_btn:hover {
		background: #0c0c97c5;
		cursor: pointer;
	}
}