@media only screen and (max-width:820px) { /*For iPad Air view*/
    #org_name {
        width: 100%;
        margin-top: 1em; 
    }
    .org_nep_slo {
        font-size: 17.9pt;
        line-height: 1.5;
        margin-top: -.2em;
    }
    .org_nep {
        font-size: 28.1pt;
        line-height: 1;
    }
    .org_eng {
        font-size: 14pt;
        line-height: 1;
    }
    .org_yak {
        font-size: 26pt;
        margin: .1em 0;
        line-height: 1.3;
    }
    .org_nep_add {
        font-size: 20pt;
        line-height: 1;
    }
}
@media only screen and (max-width:768px) {
    /*------------------------------ HEADER ------------------------------*/
body {
    position: relative;
}
    /* Heading organization name adjustment */
#header {
    width: 100vw;
}
#logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.logo_n {
    margin: .5em;
    height: 5em;
    width: 5em;
}
.logo_n0 {
    order: 1;
}
.logo_n1 {
    order: 2;
}
.logo_n {
    height: 7em;
    width: 7em;
}
#org_name {
    order: 3;
    width: 100%;
    margin-top: -6em; /*For iPad view*/
}
.org_nep_slo {
	font-size: 13.9pt;
    line-height: 1.5;
    margin-top: -.2em;
}
.org_nep {
	font-size: 22.1pt;
    line-height: 1;
}
.org_eng {
	font-size: 11pt;
    line-height: 1;
}
.org_yak {
	font-size: 21pt;
    margin: .1em 0;
    line-height: 1.3;
}
.org_nep_add {
	font-size: 13pt;
    line-height: 1;
}
.org_register_num {
    position: absolute;
    top: .7em;
    left: 26%;
    right: 26%;
    font-size: 10pt;
    text-align: center;
}
.org_reg_dot {
    display: none;
}
.org_register_hide {
    display: inline-block
}
.logo_discription {
	height: 100%;
	width: 100vw;
}
.logo_images {
    flex-wrap: wrap;
}
.logo_discription_A {
    top: 0;
    left: 0;
    transform: none;
    width: 100vw;
    height: 85vh;
    overflow: scroll;
}
.div_down {
    flex-wrap: wrap;
    justify-content: center;
}
.nav_hide {
    margin: 0;
}
.nav_link img {
    height: 2.5em;
    width: 2.5em;
}

/*Navigation Bar*/
#navigation {
    height: 2.5em;
    position: relative;
}
.navigation_items {
    display: none;
    position: absolute;
    right: .5em;
    top: 3em;
    z-index: 8;
    width: 10.3em;
    height: max-content;
    border-radius: .8em;
    background: #a11255e1;
    box-shadow: 10px 5px 55px 5px rgba(4, 1, 23, 0.667),
		inset 3px 4px 6px -1px rgba(0, 0, 0, 0.578);
    padding: .5em;
}
.navigation_items .selected {
    background: #d1d4d4;
    border-radius: .6em;
}
.nav_item {
    display: flex;
    justify-content: space-between;
} 
.selected .nav_hide {
    color: #640e30!important;
}
.nav_item .nav_hide {
    opacity: 1;
    color: #d1d4d4;
    background: none;
    position: relative;
    align-items: center;
    margin: .8em .2em 0 0;
    font-family: poppins-regular;
    font-weight: 600;
    font-size: 10pt;
}
#navigation .nav_item.selected .nav_link {
    background: none;
}
.navigation_items .nav_item {
    width: 100%;
    border-bottom: 2px solid gray;
}
.navigation_items .nav_item:last-child {
    border-bottom: none;
}
#navigation .navigation_items .nav_item {
    width: 100%;
}
#navigation .navigation_items .nav_item .nav_hide{
    display: block;
    position: relative;
}
.show_hide_nav_bar {
    display: flex;
    flex-direction: column;
    position: absolute;
    animation: nav_open 400ms ease-in forwards;
}
.show_hide_nav_bar [closing] {
    display: flex;
    flex-direction: column;
    position: absolute;
    pointer-events: none;
    inset: 0;
    animation: nav_close 400ms ease-out forwards;
}
@keyframes nav_open {
    0% {
        opacity: 0;
        transform: translateX(60px);
      }
      
      80% {
        transform: translateX(-5px);
      }
    
      100% {
        opacity: 1;
        transform: translateX(0px);
      }
}
@keyframes nav_close {
    0% {
        opacity: 1;
        transform: translateX(0px);
      }
      
      80% {
        transform: translateX(5px);
      }
    
      100% {
        opacity: 0;
        transform: translateX(60px);
      }
}
.nav_hide_menu {
    display: inline-block;
    font-size: 9pt;
    position: absolute;
    top: .9em;
    right: 1.3em;
    font-family: poppins-regular;
}
.nav_menu {
    display: inline;
}
.nav_link_menu {
    right: 5.2em;
	top: .2em;
}
/* Body content first box (left) adjustment */
.left_side {
    display: none;
    position: absolute;
}
.left_side_icon {
    height: 1.7em;
    width: 1.7em;
}
.left_side_opt_name {
    font-size: 10pt;
}
/* Body content second box (middle) adjustment */
.middle_side {
    width: auto;
    margin-right: .8em;
}
.right_side {
    width: 28%;
}
.homepage_news_head {
    text-align: center;
    width: 100%;
    margin-bottom: .5em;
}
.homepage_news {
	width: 100%;
    margin: 0;
}
.middle_chobegu_20th_gen {
	display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.middle_chobegu_20th_gen div {
    padding: 0;
    flex-wrap: wrap;
    width: 50%;
    margin: .8em 0em;
}
.middle_side_box {
    padding: .1em .5em;
}
.middle_side_box img {
    height: 3.3em;
    width: 3.3em;
}
.middle_side_son_person_info {
    margin-left: 0;
}
.middle_side_son_person_info span:first-child {
    font-size: 10pt;
}
.middle_side_son_person_info span {
    font-size: 8pt;
}
.middle_chobegu_ending {
    font-size:9pt;
}
.homepage_scholarship_info {
    display: inline-block;
}
.homepage_scholarship_info img {
    height: 9em;
    width: 100%;
}
.homepage_scholarship_head,
.homepage_scholarship_button {
    font-size: 9pt;
}
.homepage_scholarship_text span {
    margin-left: 0;
    font-size: 8.5pt;
}
.scholarship_btn1 {
    margin-top: 2.8em;
}
.homepage_membership_1st_text {
    font-size: 10pt;
}
.homepage_membership_button {
    font-size: 9pt;
    padding: .1em .1em;
    margin: .5em;
}
.homepage_build_branch {
    font-size: 10pt;
}
.homepage_build_branch_button {
    text-align: center;
    width: 90%;
}
.homepage_cencus_box {
    font-size: 10pt;
    text-align: justify;
}
.homepage_cencus_button {
    width: 90%;
}

/* Body content third box (right) adjustment */
.right_side_box {
    padding: .2em .3em;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.right_side_box .notice_board_image{
    order: 1;
    margin-top: .5em;
}
.right_side_box .notice_board_description{
    order: 2;
    margin: .5em;
}
.notice_board_description span:nth-child(1) {
    margin-top: .2em!important;
}
.notice_board_description span:nth-child(2) {
    text-align: justify;
}
.right_side_person {
    height: 3em;
    width: 3em;
    order: 1;
}
.right_tab_view {
    margin: .5em .5em !important;
    text-align: center;
    order: 3;
}
.right_side_person_info span:nth-child(2),
.right_side_person_info span:nth-child(3),
.right_side_person_info span:nth-child(4) {
    font-size: 8.2pt;
    font-family: poppins-regular;
}
.right_side_person_info span:first-child{
    font-size: 10pt;
    margin-top: 1.5em;
}
.more_member_box p:last-child {
    right: 54%;
    left: 46%;
    top: 48%;
}
.homepage_right_side_post {
    position: relative;
    margin: 1.8em 1em -1.5em 1em;
    justify-self: center;
    order: 2;
    font-size: 8pt;
    background: rgba(80, 36, 6, 0.559);
    color: #fefefe;
    text-align: center;
    width: 100%;
    border-radius: 2em;
    font-weight: 600;
    padding: .3em 0;
}

/* Footer content adjustment */
/*#footer {
    position: absolute;
    bottom: -114em;
}*/
.footer_content_body  {
    margin: .5em 0;
}
.notice_board_content {
    display: none;
}
.hide_notice_desktop {
	display: flex;
    width: 100%;
}
.hide_notice_desktop img {
}
.hide_notice_desktop .notice_board_description span:nth-child(1){
    background-color: #640e30;
    color: #fefefe;
    text-align: center;
    padding: .3em 1em;
    border-radius: 2em;
    font-size: 9pt;
}
.hide_notice_desktop .notice_board_description span:nth-child(1):hover {
    background-color: #640e30cf;
    color: #dadada;
}
}
/*@media only screen and (max-width:600px) {
.middle_side {
width: 64%;
}
.right_side {
    width: 32%;
}
.left_side {
    display: block;
    position: absolute;
    background: #d6ddd8da;
    left: .7em;
    top: 162.5em;
    width: 30%;
    z-index: 3;
}
#notice_board {
    position: absolute;
    background: #d6ddd8da;
    right: 0;
    width: 205%;
    top: 142.3em;
    margin-top: 1em;
    border-radius: 1em;
    box-shadow: 5px 6px 5px -1px rgba(0, 0, 0, 0.292),
		inset 3px 4px 6px -1px rgba(0, 0, 0, 0.578);
}
}*/