@media (min-width:245px) and (max-width:552px) {
    .org_nep_slo {
        font-size: clamp(5pt,2.5vw, 11pt);
    }
    
    .org_nep {
        font-size: clamp(8.9pt,3.8vw,15.7pt);
    }
    
    .org_eng {
        font-size: clamp(5pt,2.8vw, 10pt);/*clamp(5pt,3.1vw, 12pt)*/
    }
    
    .org_yak {
        font-size: clamp(8.5pt,4vw,15pt);
        margin-top: .2em 0;
    }
    
    .org_nep_add {
        font-size: clamp(7pt,2.4vw,11pt);/*clamp(7pt,2.4vw,11pt)*/
    }
    .logo_n {
        height: auto;
        width: clamp(3.5em,13vw,4.8em);
    }
}
@media  (min-width:429px) and (max-width:768px) {
    .org_register_num {
        top: -1em;
        
    }
    .right_side_box {
        flex-wrap: wrap;
    }
    .right_side_box .notice_board_image{
        order: 1;
        margin-top: .5em;
    }
    .right_side_box .notice_board_description{
        order: 2;
        margin: .5em;
    }
    .notice_board_description span:nth-child(1) {
        margin-top: .2em!important;
    }
    .notice_board_description span:nth-child(2) {
        text-align: justify;
    }
    .right_tab_view {
        text-align: center;
        order: 3;
    }
    .body_content {
        margin-bottom: 17em;
    }
    .left_side_foot {
        display: flex;
        justify-content: center;
        width: 100%;
        border-top: 2px solid grey;
        padding: .4em 0;
    }
    .left_side {
        order: 3;
        position: absolute;
        bottom: -16em;
        width: 69.5%;
        border-radius: 1em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: .8em 0;
    }
    .left_side_box {
        border-bottom: none;
        flex-direction: column;
        justify-content: center;
        margin: .2em;
        display: flex;
        background: #99bfb56b;
        border-radius: .5em;
        width: 20%;
        border: 2px solid var(--background-content-head-background-color);
    }
    .see_more_box,.see_less_box {
        display: none;
    }
    .left_side_more_icon {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-evenly;
    }
    .middle_side {
        order: 1;
    }
    .right_side {
        order: 2;
    }
}
@media only screen and (max-width:768px) {
    /*------------------------------ HEADER ------------------------------*/
body {
    position: relative;
}
    /* Heading organization name adjustment */
#header {
    width: 100vw;
}
#logo {
    margin-top: 1em;
}
.org_register_num {
    position: absolute;
    left: 10%;
    right: 10%;
    /*font-size: 10pt;*/
    text-align: center;
}
.org_reg_dot {
    display: none;
}
.org_register_hide {
    display: inline-block
}
.logo_discription {
	height: 100%;
	width: 100vw;
}
.logo_images {
    flex-wrap: wrap;
}
.logo_discription_A {
    top: 0;
    left: 0;
    transform: none;
    width: 100vw;
    height: 85vh;
    overflow: scroll;
}
.div_down {
    flex-wrap: wrap;
    justify-content: center;
}
.nav_hide {
    margin: 0;
}
.nav_link img {
    height: 2.5em;
    width: 2.5em;
}

/*Navigation Bar*/
#navigation {
    height: 2.5em;
    border-radius: 0;
    box-shadow: none;
    background: #3a7975de;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#nav_bar_layer {
    order: 2;
}
.nav_menu {
    border-radius: 2em 0 0 2em;
    order: 1;
    border-radius: 1.3em 0 0 1.3em;
    z-index: 8;
    padding:  1.25em .2em;
}
.navigation_items {
    display: none;
    position: absolute;
    right: .5em;
    z-index: 8;
    width: 11.8em;
    height: max-content;
    border-radius: .8em;
    background: #a11255e1;
    box-shadow: 10px 5px 55px 5px rgba(4, 1, 23, 0.667),
		inset 3px 4px 6px -1px rgba(0, 0, 0, 0.578);
    padding: .5em;
}

.navigation_items .selected {
    background: #d1d4d4;
    border-radius: .6em;
}
.nav_item {
    display: flex;
    justify-content: space-between;
} 
.selected .nav_hide {
    color: #640e30!important;
}
.nav_item .nav_hide {
    opacity: 1;
    color: #d1d4d4;
    background: none;
    position: relative;
    align-items: center;
    font-family: poppins-regular;
    font-weight: 600;
    font-size: 10pt;
}
#navigation .nav_item.selected .nav_link {
    background: none;
}
.navigation_items .nav_item {
    width: 100%;
    border-bottom: 2px solid gray;
}
.navigation_items .nav_item:last-child {
    border-bottom: none;
}
#navigation .navigation_items .nav_item {
    width: 100%;
    align-items: center;
}
#navigation .navigation_items .nav_item .nav_hide{
    display: block;
    position: relative;
}

.navigation_items {
    position: absolute;
    right: .3em;
}
#nav_bar_layer {
    position: relative;
    z-index: 5;
}
.show_hide_nav_bar {
    display: flex;
    flex-direction: column;
    float: right;
    position: sticky;
}
#navigation_backdrop {
    background: rgba(11, 11, 11, 0.546);
    height: 100vh;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 5;
    position: fixed;
    display: none;

}
.show_hide_nav_bar[open] {
    transform-origin: top center;
    animation: nav_open 400ms ease-in forwards;
}
.show_hide_nav_bar[closing] {
    transform-origin: top center;
    display: flex;
    flex-direction: column;
    position: absolute;
    animation: nav_close 400ms ease-out forwards;
}
@keyframes open_nav_icon {
    100% {
        opacity: 0;
      }
      
      50% {
        opacity: 0.5;
      }
    
      0% {
        opacity: 1;
      }
}
@keyframes close_nav_icon {
    0% {
        opacity: 0;
      }
      
      50% {
        opacity: 0.5;
      }
    
      100% {
        opacity: 1;
      }
}
@keyframes nav_open {
    0% {
        opacity: 0;
        transform: translateX(60px);
      }
      
      50% {
        transform: translateX(-5px);
      }
    
      100% {
        opacity: 1;
        transform: translateX(0px);
      }
}
@keyframes nav_close {
    0% {
        opacity: 1;
        transform: translateX(0px);
      }
      
      50% {
        transform: translateX(5px);
      }
    
      100% {
        opacity: 0;
        transform: translateX(60px);
      }
}
.nav_hide_menu {
    display: inline-flex;
    font-size: 9pt;
    position: absolute;
    top: .9em;
    right: 1.3em;
    font-family: poppins-regular;
}
.nav_menu {
    display: inline;
    position: relative;
}
.nav_link_menu {
	top: .2em;
    display: inline-flex;
    justify-content: space-between;
	gap: .3em;
    width: 100%;
    position: absolute;
}
.nav_link_menu img {
    margin-left: .5em;
}
.body_content {
    position: relative;
}
/* Body content first box (left) adjustment */

.left_side_icon {
    height: 1.7em;
    width: 1.7em;
}
.left_side_opt_name {
    font-size: 10pt;
}

/* Body content second box (middle) adjustment */
.middle_side {
    width: auto;
}
.right_side {
    min-width: 28%;
    border-radius: 1em;
}
.homepage_news_head {
    text-align: center;
    width: 100%;
    margin-bottom: .5em;
}
.homepage_news {
	width: 100%;
    margin: 0;
}
.middle_chobegu_20th_gen {
	display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.middle_chobegu_20th_gen div {
    padding: 0;
    flex-wrap: wrap;
    width: 50%;
    margin: .8em 0em;
}
.middle_side_box {
    padding: .1em .5em;
}
.middle_side_box img {
    height: 3.3em;
    width: 3.3em;
}
.middle_side_son_person_info {
    margin-left: 0;
}
.homepage_scholarship_info {
    display: inline-block;
}
.homepage_scholarship_info img {
    height: 9em;
    width: 100%;
}
.homepage_scholarship_head,
.homepage_scholarship_button {
    font-size: 12pt;
}
.homepage_scholarship_text span {
    margin-left: 0;
}
.scholarship_btn1 {
    margin-top: 1.5em;
}
.homepage_membership_button {
    font-size: 9pt;
    padding: .1em .1em;
    margin: .5em;
}
.homepage_build_branch_button {
    text-align: center;
    width: 90%;
}
.homepage_cencus_box {
    text-align: justify;
}
.homepage_cencus_button {
    width: 90%;
}

/* Body content third box (right) adjustment */
.right_side_box {
    padding: .2em .3em;
    justify-content: space-evenly;
    align-items: center;
}

.right_side_person {
    height: 3em;
    width: 3em;
    order: 1;
}

.more_member_box p:last-child {
    right: 54%;
    left: 46%;
    top: 48%;
}
.homepage_right_side_post {
    position: relative;
    justify-self: center;
    order: 2;
    font-size: var(--background-content-body-font-size-s);
    background: rgba(80, 36, 6, 0.559);
    color: #f2f2f2dd;
    text-align: center;
    width: 100%;
    font-weight: 500;
    padding: .3em 0;
    right: 0;
    margin: 0;
}
.middle_side_son_person_info {
    display: flex;
    flex-direction: column;
}

/* Footer content adjustment */
/*#footer {
    position: absolute;
    bottom: -114em;
}*/
.footer_content_body  {
    margin: .5em 0;
}
.notice_board_content {
    display: none;
}
.hide_notice_desktop {
	display: flex;
    width: 100%;
}
.hide_notice_desktop .notice_board_description span:nth-child(1){
    background-color: #640e30;
    color: #fefefe;
    text-align: center;
    padding: .3em 1em;
    border-radius: 2em;
    font-size: 9pt;
}
.hide_notice_desktop .notice_board_description span:nth-child(1):hover {
    background-color: #640e30cf;
    color: #dadada;
}
.right_officials {
    margin-top: .5em;
}
}
/*@media only screen and (max-width:600px) {
.middle_side {
width: 64%;
}
.right_side {
    width: 32%;
}
.left_side {
    display: block;
    position: absolute;
    background: #d6ddd8da;
    left: .7em;
    top: 162.5em;
    width: 30%;
    z-index: 3;
}
#notice_board {
    position: absolute;
    background: #d6ddd8da;
    right: 0;
    width: 205%;
    top: 142.3em;
    margin-top: 1em;
    border-radius: 1em;
    box-shadow: 5px 6px 5px -1px rgba(0, 0, 0, 0.292),
		inset 3px 4px 6px -1px rgba(0, 0, 0, 0.578);
}
}*/