@media only screen and (max-width:428px) {
    .org_nep_slo {
        font-size: 8.8pt;
    }
    .org_eng {
        font-size: 9.2pt;
    }
    .org_yak {
        font-size: 13.2pt;
        line-height: 1.5;
    }
    .org_nep {
        font-size: 13.5pt;
        line-height: 1;
    }
    .org_nep_add {
        font-size: 8pt;
    }
    .org_register_num {
        font-size: 8pt;
        background: rgb(61 39 132);
        color: aliceblue;
        width: 100vw;
        left: 0;
        right: 0;
        position: absolute;
        top: 0;
        margin-top: -.6em;
        padding: .3em;
    }
    #logo {
        margin: .3em .5em;
        justify-content: space-evenly;
    }
    #logo img {
        margin: 0;
        margin-top: 1.4em;
    }
    #org_name {
        order: 2;
        width: auto;
        margin: 1em 0 0 0;
    }
    .logo_n0 {
        display: none;
    }
    .logo_n1 {
        order: 1;
        max-height: 5em;
        max-width: 5em;
    }
    #navigation {
        border-radius: 0;
        box-shadow: none;
        background: #306948!important;
        color: aliceblue;
    }
    .nav_menu {
        border-radius: 2em 0 0 2em;
        background: #96b367;
    }
}